body {
  margin: 0;
  padding: 0;
  font-family: "Poiret One", cursive; }
  body .page-wrapper {
    width: 100%;
    overflow: hidden; }

.page-header {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative; }
  .page-header .swiper-container {
    width: 100%;
    height: 100%;
    -webkit-filter: brightness(1) contrast(1.4);
    filter: brightness(1) contrast(1.4);
    overflow: hidden;
    position: relative;
    //transform: skewY(-10deg);
    margin-top: -40px; }body {
  margin: 0;
  padding: 0;
  font-family: "Poiret One", cursive; }
  body .page-wrapper {
    width: 100%;
    overflow: hidden; }

.page-header {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative; }
  .page-header .swiper-container {
    width: 100%;
    height: 100%;
    -webkit-filter: brightness(1) contrast(1.4);
    filter: brightness(1) contrast(1.4);
    overflow: hidden;
    position: relative;
    //transform: skewY(-10deg);
    margin-top: -40px; }

    .page-header .swiper-container .swiper-wrapper {
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 100%;
      transition: all 0.5s ease;
      display: flex; }
      .page-header .swiper-container .swiper-wrapper .swiper-slide {
        width: 100%;
        height: 120%;
        //transform: skewY(10deg);
        transition: all 0.5s ease;
        flex-shrink: 0;
        background-size: cover;
        background-position: center center; }
        .page-header .swiper-container .swiper-wrapper .swiper-slide:first-child {
          background-image: url("images/bg3.jpg"); }
        .page-header .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) {
          background-image: url("images/bg5.jpg"); }
        .page-header .swiper-container .swiper-wrapper .swiper-slide:last-child {
          background-image: url("images/bg6.jpg"); }
    .page-header .swiper-container .slider-nav {
      width: 100%;
      position: absolute;
      z-index: 999;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 0;
      //transform: skewY(10deg); }
      .page-header .swiper-container .slider-nav .bullet {
        display: inline-block;
        width: 10px;
        margin: 0 15px;
        height: 10px;
        border-radius: 50%;
        position: relative;
        background: #fff;
        transition: 0.6s all ease; }
        .page-header .swiper-container .slider-nav .bullet.current {
          background: #e93c35;
          width: 20px;
          height: 20px; }
        .page-header .swiper-container .slider-nav .bullet:hover {
          background: #ff3f34; }
  .page-header nav {
    width: 100%;
    height: 80px;
    background: #111;
    box-shadow: 0 0 15px #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    text-align: center; }